<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<dict>
		<key>standardToNativeMap</key>
		<dict>
			<key>dsAttrTypeStandard:AddressLine1</key>
			<string>addresline1</string>
			<key>dsAttrTypeStandard:AddressLine2</key>
			<string>addresline2</string>
			<key>dsAttrTypeStandard:AddressLine3</key>
			<string>addresline3</string>
			<key>dsAttrTypeStandard:AreaCode</key>
			<string>areacode</string>
			<key>dsAttrTypeStandard:AuthenticationHint</key>
			<string>passwordhint</string>
			<key>dsAttrTypeStandard:Birthday</key>
			<string>birthday</string>
			<key>dsAttrTypeStandard:Building</key>
			<string>building</string>
			<key>dsAttrTypeStandard:City</key>
			<string>city</string>
			<key>dsAttrTypeStandard:Comment</key>
			<string>description</string>
			<key>dsAttrTypeStandard:Company</key>
			<string>company</string>
			<key>dsAttrTypeStandard:Country</key>
			<string>country</string>
			<key>dsAttrTypeStandard:CreationTimestamp</key>
			<string>creationdate</string>
			<key>dsAttrTypeStandard:Department</key>
			<string>department</string>
			<key>dsAttrTypeStandard:EMailAddress</key>
			<string>email</string>
			<key>dsAttrTypeStandard:FAXNumber</key>
			<string>fax</string>
			<key>dsAttrTypeStandard:FirstName</key>
			<string>givenName</string>
			<key>dsAttrTypeStandard:GeneratedUID</key>
			<string>uuid</string>
			<key>dsAttrTypeStandard:HomeDirectory</key>
			<string>home</string>
			<key>dsAttrTypeStandard:HomeDirectoryQuota</key>
			<string>homehardquota</string>
			<key>dsAttrTypeStandard:HomeDirectorySoftQuota</key>
			<string>homesoftquota</string>
			<key>dsAttrTypeStandard:HomePhoneNumber</key>
			<string>personalphone</string>
			<key>dsAttrTypeStandard:IMHandle</key>
			<string>instantmessaging</string>
			<key>dsAttrTypeStandard:JPEGPhoto</key>
			<string>photo</string>
			<key>dsAttrTypeStandard:JobTitle</key>
			<string>jobtitle</string>
			<key>dsAttrTypeStandard:LastName</key>
			<string>surname</string>
			<key>dsAttrTypeStandard:MiddleName</key>
			<string>middlename</string>
			<key>dsAttrTypeStandard:MobileNumber</key>
			<string>mobilephone</string>
			<key>dsAttrTypeStandard:ModificationTimestamp</key>
			<string>modificationdate</string>
			<key>dsAttrTypeStandard:NamePrefix</key>
			<string>prefix</string>
			<key>dsAttrTypeStandard:NickName</key>
			<string>nickname</string>
			<key>dsAttrTypeStandard:OrganizationInfo</key>
			<string>organizationinfo</string>
			<key>dsAttrTypeStandard:OrganizationName</key>
			<string>organizationname</string>
			<key>dsAttrTypeStandard:PGPPublicKey</key>
			<string>pgppublickey</string>
			<key>dsAttrTypeStandard:PagerNumber</key>
			<string>pager</string>
			<key>dsAttrTypeStandard:PhoneNumber</key>
			<string>phone</string>
			<key>dsAttrTypeStandard:PrimaryGroupID</key>
			<string>primarygroup</string>
			<key>dsAttrTypeStandard:RealName</key>
			<string>fullName</string>
			<key>dsAttrTypeStandard:RecordName</key>
			<string>shortname</string>
			<key>dsAttrTypeStandard:RecordType</key>
			<string>type</string>
			<key>dsAttrTypeStandard:State</key>
			<string>state</string>
			<key>dsAttrTypeStandard:Street</key>
			<string>street</string>
			<key>dsAttrTypeStandard:UniqueID</key>
			<string>numericID</string>
			<key>dsAttrTypeStandard:UserCertificate</key>
			<string>internalcert</string>
			<key>dsAttrTypeStandard:UserPKCS12Data</key>
			<string>pkcs12</string>
			<key>dsAttrTypeStandard:UserSMIMECertificate</key>
			<string>publicmailcert</string>
			<key>dsAttrTypeStandard:UserShell</key>
			<string>shell</string>
			<key>dsAttrTypeStandard:WeblogURI</key>
			<string>blog</string>
		</dict>
		<key>standardType</key>
		<string>dsRecTypeStandard:Users</string>
	</dict>
	<key>group</key>
	<dict>
		<key>standardToNativeMap</key>
		<dict>
			<key>dsAttrTypeStandard:GeneratedUID</key>
			<string>uuid</string>
			<key>dsAttrTypeStandard:RealName</key>
			<string>common_name</string>
			<key>dsAttrTypeStandard:RecordName</key>
			<string>shortname</string>
		</dict>
		<key>standardType</key>
		<string>dsRecTypeStandard:Groups</string>
	</dict>
</dict>
</plist>
